@model List<Faculdade.Models.Professores.Professor>

@{
    var listaDeProfessores = Model;
}

<form action="/professores/lista" method="get">
    <div class="form-group">
        <label for="exampleInputEmail1">Pesquisa</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="pesquisa">
        <small id="emailHelp" class="form-text text-muted">Entre com o nome do professor</small>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <a href="/professores/cadastrar" class="btn btn-success">Cadastrar</a>
</form>

@foreach (var professor in listaDeProfessores)
{
    <p>
        <div>
            CPF: @professor.Cpf <br />
            @professor.Nome @professor.Formacao
        </div>
        <a href="/professores/excluir?cpf=@professor.Cpf">Excluir</a> |
        <a href="/professores/alterar?cpf=@professor.Cpf">Alterar</a>
        <br />
        <hr />
    </p>
}